<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.jp.liushuang.persistence.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.co.jp.liushuang.persistence.entity.Department" >
    <id column="DEPARTMENT_ID" property="departmentId" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
    <result column="RESPONSIBLE_PERSON" property="responsiblePerson" jdbcType="VARCHAR" />
    <result column="ESTABLISHMENT_DATE" property="establishmentDate" jdbcType="DATE" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATEUSERID" property="createuserid" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSERID" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEPARTMENT_ID, DEPARTMENT_NAME, RESPONSIBLE_PERSON, ESTABLISHMENT_DATE, REMARKS,
    CREATEUSERID, CREATETIME, UPDATEUSERID, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from m_department
    where DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from m_department
    where DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.co.jp.liushuang.persistence.entity.Department" >
    insert into m_department (DEPARTMENT_ID, DEPARTMENT_NAME, RESPONSIBLE_PERSON,
      ESTABLISHMENT_DATE, REMARKS, CREATEUSERID,
      CREATETIME, UPDATEUSERID, UPDATETIME
      )
    values (#{departmentId,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{responsiblePerson,jdbcType=VARCHAR},
      #{establishmentDate,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{createuserid,jdbcType=VARCHAR},
      #{createtime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.co.jp.liushuang.persistence.entity.Department" >
    insert into m_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        DEPARTMENT_ID,
      </if>
      <if test="departmentName != null" >
        DEPARTMENT_NAME,
      </if>
      <if test="responsiblePerson != null" >
        RESPONSIBLE_PERSON,
      </if>
      <if test="establishmentDate != null" >
        ESTABLISHMENT_DATE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createuserid != null" >
        CREATEUSERID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updateuserid != null" >
        UPDATEUSERID,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="responsiblePerson != null" >
        #{responsiblePerson,jdbcType=VARCHAR},
      </if>
      <if test="establishmentDate != null" >
        #{establishmentDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.jp.liushuang.persistence.entity.Department" >
    update m_department
    <set >
      <if test="departmentName != null" >
        DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="responsiblePerson != null" >
        RESPONSIBLE_PERSON = #{responsiblePerson,jdbcType=VARCHAR},
      </if>
      <if test="establishmentDate != null" >
        ESTABLISHMENT_DATE = #{establishmentDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.jp.liushuang.persistence.entity.Department" >
    update m_department
    set DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      RESPONSIBLE_PERSON = #{responsiblePerson,jdbcType=VARCHAR},
      ESTABLISHMENT_DATE = #{establishmentDate,jdbcType=DATE},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
  </update>
    <select id="selectList" resultMap="BaseResultMap" parameterType="com.co.jp.liushuang.persistence.entity.Department" >
    select
    <include refid="Base_Column_List" />
    from m_department
    <where>
<if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      </where>
  </select>
</mapper>