<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.jp.liushuang.persistence.RollMapper" >
  <resultMap id="BaseResultMap" type="com.co.jp.liushuang.persistence.entity.Roll" >
    <id column="ROLL_ID" property="rollId" jdbcType="VARCHAR" />
    <result column="ROLL_NAME" property="rollName" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATEUSERID" property="createuserid" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSERID" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLL_ID, ROLL_NAME, REMARKS, CREATEUSERID, CREATETIME, UPDATEUSERID, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_roll
    where ROLL_ID = #{rollId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from m_roll
    where ROLL_ID = #{rollId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.co.jp.liushuang.persistence.entity.Roll" >
    insert into m_roll (ROLL_ID, ROLL_NAME, REMARKS, 
      CREATEUSERID, CREATETIME, UPDATEUSERID, 
      UPDATETIME)
    values (#{rollId,jdbcType=VARCHAR}, #{rollName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{createuserid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.co.jp.liushuang.persistence.entity.Roll" >
    insert into m_roll
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rollId != null" >
        ROLL_ID,
      </if>
      <if test="rollName != null" >
        ROLL_NAME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createuserid != null" >
        CREATEUSERID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updateuserid != null" >
        UPDATEUSERID,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rollId != null" >
        #{rollId,jdbcType=VARCHAR},
      </if>
      <if test="rollName != null" >
        #{rollName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.jp.liushuang.persistence.entity.Roll" >
    update m_roll
    <set >
      <if test="rollName != null" >
        ROLL_NAME = #{rollName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ROLL_ID = #{rollId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.jp.liushuang.persistence.entity.Roll" >
    update m_roll
    set ROLL_NAME = #{rollName,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where ROLL_ID = #{rollId,jdbcType=VARCHAR}
  </update>
</mapper>