<!DOCTYPE html>
<html lang="en"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/layout.html}">
<body>
	<div layout:fragment="content">
		<div class="container">

			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="alert alert-info" role="alert">
						<strong><h4>システムエラー画面</h4></strong>
					</div>
				</div>
			</div>
			<div style="height: 200px">
				<b style="color: red">予想しない異常が発生しました、システム管理者にご連絡ください。</b><br> <span
					th:text="${url}"></span><br> <span th:text="${exception}"></span>
				<div th:text="'timestamp: ' + ${timestamp}"></div>
				<div th:text="'status: ' + ${status}"></div>
				<div th:text="'error: ' + ${error}"></div>
				<div th:text="'exception: ' + ${exception}"></div>
				<div th:text="'message: ' + ${message}"></div>
				<div th:text="'errors: ' + ${errors}"></div>
				<div th:text="'trace: ' + ${trace}"></div>
				<div th:text="'path: ' + ${path}"></div>
</body>
</div>
<div th:insert="fragments::copy(2019,2025,ABC)"></div>
</div>
</div>
</body>
</html>