<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.business.spring.boot.fw.persistence.mapper.PersonnelIssuesRelatedMapper">
  <resultMap id="BaseResultMap" type="org.com.business.spring.boot.fw.persistence.entity.PersonnelIssuesRelated">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLL_NAME" jdbcType="VARCHAR" property="rollName" />
    <result column="FUNCTION_ID" jdbcType="VARCHAR" property="functionId" />
    <result column="CREATEUSERID" jdbcType="VARCHAR" property="createuserid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATEUSERID" jdbcType="VARCHAR" property="updateuserid" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLL_NAME, FUNCTION_ID, CREATEUSERID, CREATETIME, UPDATEUSERID, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from personnel_issues_related
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from personnel_issues_related
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.com.business.spring.boot.fw.persistence.entity.PersonnelIssuesRelated">
    insert into personnel_issues_related (ID, ROLL_NAME, FUNCTION_ID, 
      CREATEUSERID, CREATETIME, UPDATEUSERID, 
      UPDATETIME)
    values (#{id,jdbcType=VARCHAR}, #{rollName,jdbcType=VARCHAR}, #{functionId,jdbcType=VARCHAR}, 
      #{createuserid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.com.business.spring.boot.fw.persistence.entity.PersonnelIssuesRelated">
    insert into personnel_issues_related
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rollName != null">
        ROLL_NAME,
      </if>
      <if test="functionId != null">
        FUNCTION_ID,
      </if>
      <if test="createuserid != null">
        CREATEUSERID,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rollName != null">
        #{rollName,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null">
        #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.business.spring.boot.fw.persistence.entity.PersonnelIssuesRelated">
    update personnel_issues_related
    <set>
      <if test="rollName != null">
        ROLL_NAME = #{rollName,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null">
        FUNCTION_ID = #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null">
        CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.business.spring.boot.fw.persistence.entity.PersonnelIssuesRelated">
    update personnel_issues_related
    set ROLL_NAME = #{rollName,jdbcType=VARCHAR},
      FUNCTION_ID = #{functionId,jdbcType=VARCHAR},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>